.button-answer {
  width: 300px;
  height: 80px;
  border-radius: 15px;
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: var(--color-2);
  border-color: var(--color-2);
  &:hover {
    color: #fff;
    background-color: var(--color-2);
    border-color: var(--color-2);
  }
}
.selected {
  color: #fff;
  background-color: var(--color-2);
  border-color: var(--color-2);
}
